.navbar {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  width: 100%;
  background-color: darkblue;
  align-items: center;
  color: aliceblue;
  font-size: 1.5em;
  font-weight: bold;
  transition: top 0.5s;
  height: fit-content;
  z-index: 1000; /* Ensure navbar stays above other content */
  box-shadow: 0 4px 2px -2px gray; /* Optional: Adds a shadow for better visibility */
}

.hide {
  top: -3em;
}

.navitem {
  position: sticky;
  padding: 1em;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
  white-space: nowrap;
}

.clickable {
  @extend .navitem;
  cursor: pointer;
}

.clickable:hover {
  backdrop-filter: brightness(50%);
}

.dropdown_container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: darkblue;
  position: absolute;
  top: 100%;
  right: 0;
}

.dropdown:hover {
  cursor: pointer;
  backdrop-filter: brightness(50%);

  .dropdown_container {
    visibility: visible;
  }
}

.end {
  margin-left: auto;
}
